---
layout: default
---

<!--
  BUGS:
  - background image isn't full size
 -->

<!-- <img class="img-responsive" style="z-index=-1;" src="{{ site.baseurl }}/img/neo-tokyo-background.jpg">
<div class="container">

  <div class="row cover-blurb">
    <div class="col-lg-5">

      <div class="row">
        <div class="col-lg-12">
          <h1>Welcome to {{ site.title }}!</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <p>{{ site.description }}</p>
        </div>
      </div>

    </div>

    <div class="col-lg-offset-1 col-lg-5">

      <div class="row">
        <div class="col-lg-12">
          <p>LINKS</p>
        </div>
      </div>

    </div>

  </div>

</div>
</img> -->

<!-- background: url('{{ site.baseurl }}/img/neo-tokyo-background.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; -->

<!-- background: url('{{ site.baseurl }}/img/neo-tokyo-background.jpg');
                              background-size: cover;
                              background-postion: center center;
                              background-repeat: none; -->

<div class="cover" style="background: url('{{ site.baseurl }}/img/neo-tokyo-background.jpg') no-repeat center center fixed;
                              -webkit-background-size: cover;
                              -moz-background-size: cover;
                              -o-background-size: cover;
                              background-size: cover;">
  <div class="container">

    <div class="row cover-blurb">
      <div class="col-lg-5">

        <div class="row">
          <div class="col-lg-12">
            <h1>Welcome to {{ site.title }}!</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <p>{{ site.description }}</p>
          </div>
        </div>

      </div>

      <div class="col-lg-offset-1 col-lg-5">

        <div class="row">
          <div class="col-lg-12">
            <p>LINKS</p>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>

<div class="divider"></div>

<div class="container-fluid">

  <div class="row">
    <div class="col-lg-4">

      {% assign eu = site.posts | where:"category","EU" %}
      {% include next-tourney-thumbnail.html posts=eu %}

    </div>

    <div class="col-lg-4">

      {% assign na = site.posts | where:"category","NA" %}
      {% include next-tourney-thumbnail.html posts=na %}

    </div>

    <div class="col-lg-4">
      <iframe src="https://discordapp.com/widget?id=160203665645371392&amp;theme=dark" width="100%" height="600" allowtransparency="true" frameborder="0"></iframe>
    </div>
  </div>

</div>

<div class="divider"></div>
