---
layout: default
---

<div class="jumbotron">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12">
        <h1>Welcome to {{ site.title }}!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>{{ site.description }}</p>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-lg-6">
        <h3>EU</h3>
        {% for post in site.posts %}
          {% if post.category == 'EU' %}
            <p>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              <span> {{ post.date | date: "%b %-d, %Y" }} </span>
              <p>{{ post.content }}</p>
              <a class="btn btn-primary" href="{{ post.info_url }}" role="button">Join Tournament</a>
            </p>
          {% break %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="col-lg-6">
        <h3>NA</h3>
        {% for post in site.posts %}
          {% if post.category == 'NA' %}
            <p>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              <span> {{ post.date | date: "%b %-d, %Y" }} </span>
              <p>{{ post.content }}</p>
              <a class="btn btn-primary" href="{{ post.info_url }}" role="button">Join Tournament</a>
            </p>
          {% break %}
          {% endif %}
        {% endfor %}
      </div>
    </div>

  </div>
</div>
