---
layout: page
title: Stats
published: true
---

<div class="container" style="padding-top: 20px;" ng-app="App">

  <div class="row" ng-controller="ResultsController">
    <div class="col-lg-8">

      <div class="panel panel-default">

        <table class="table table-bordered table-hover">
          <tr class="table-header bg-primary">
            <th>Rank</th>
            <th>Team</th>
            <th ng-click="">
              Top Fours
            </th>
            <th ng-click="">
              First
            </th>
            <th ng-click="">
              Second
            </th>
            <th ng-click="">
              Third
            </th>
            <th ng-click="">
              Fourth
            </th>
            <th ng-click="">
              Average
            </th>
          </tr>
          <tr ng-repeat="team in filteredTeams" ng-mouseover="display(team)">
            <td>{($index+1)}</td>
            <td>{(team.name)}</td>
            <td>{(team.stats.topFours)}</td>
            <td>{(team.stats.firstCount)}</td>
            <td>{(team.stats.secondCount)}</td>
            <td>{(team.stats.thirdCount)}</td>
            <td>{(team.stats.fourthCount)}</td>
            <td>{(team.stats.average)}</td>
          </tr>
        </table>

      </div>

    </div>

    <div class="col-lg-4">
      <div class="panel panel-default">

        <table class="table table-bordered table-hover">
          <tr class="table-header bg-primary">
            <th>{(displayedTeam.name)}</th>
          </tr>
          <tr ng-repeat="player in displayedTeam.roster">
            <td>{(player)}</td>
          </tr>
        </table>

      </div>
    </div>

  </div>

</div>
