---
layout: page
title: Stats
permalink: /stats/
published: false
---

<div class="container" style="padding-top: 20px;" ng-app="App">

  <div class="row" ng-controller="HistoryController">
    <div class="col-lg-8">

      <div class="panel panel-default">

        <table class="table table-bordered table-hover">
          <tr class="table-header bg-primary">
            <th>Rank</th>
            <th>Team</th>
            <th class="hidden-xs hidden-sm">
              Top Three's
            </th>
            <th class="hidden-xs hidden-sm">
              First
            </th>
            <th class="hidden-xs hidden-sm">
              Second
            </th>
            <th class="hidden-xs hidden-sm">
              Third
            </th>
            <th>
              Average
            </th>
          </tr>
          <tr ng-repeat="team in teams | filter:searchText" ng-mouseover="display(team)">
            <td>{($index+1)}</td>
            <td>{(team.nameShort)}</td>
            <td class="hidden-xs hidden-sm">{(team.stats.topThrees)}</td>
            <td class="hidden-xs hidden-sm">{(team.stats.first)}</td>
            <td class="hidden-xs hidden-sm">{(team.stats.second)}</td>
            <td class="hidden-xs hidden-sm">{(team.stats.third)}</td>
            <td>{(team.stats.average)}</td>
          </tr>
        </table>

      </div>

    </div>

    <div class="col-lg-4" >
      <label>Search: <input style="color: black;" ng-model="searchText"></label>
      <div class="panel panel-default hidden-xs hidden-sm" data-spy="affix" data-offset-top="60" data-offset-bottom="200">

        <div class="panel-heading bg-primary">
          <h1 class="panel-title">{(displayedTeam.name)}</h1>
        </div>
        <div class="panel-body">
          <div class="col-lg-6" ng-repeat="player in displayedTeam.roster track by $index">
            {(player)}
          </div>
          <div class="col-lg-6" ng-repeat="(week, standing) in displayedTeam.weeks">
            {(week)} {(standing)}
          </div>
          <div class="col-lg-12">
            {(displayedTeam.previousRosterStr)}
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
