<footer class="site-footer">

  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <ul class="contact-list text-center">
          <li>&copy;{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

    </div>
  </div>

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
  <script src="{{ site.baseurl }}/js/jquery-3.1.0.min.js"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

</footer>
