
{% assign posts = include.posts %}

 <!-- Find the next tourney -->
{% capture sitetime %} {{ site.time | date: '%s' }} {% endcapture %}
{% for post in posts %}

{% capture posttime %} {{ post.date | date: '%s' }} {% endcapture %}

{% if posttime > sitetime %}
 {% assign next = post %}
{% else %}
 {% break %}
{% endif %}

{% endfor %}

<!-- Use the previous tourney if the next tourney isn't available -->
{% assign tourney = next | default: posts.first %}

<div class="thumbnail">
  <img src="{{ site.baseurl }}/img/banner.jpg" alt="banner" class="img-responsive">
  <div class="caption">
    <a href="{{ tourney.url | prepend: site.baseurl }}">
      <h3> {{ tourney.title }} </h3>
    </a>
    <p>
      <span> {{ tourney.date | date: "%b %-d, %Y" }} </span>
      <p>{{ tourney.content }}</p>
      <div class="text-center">
        <a class="btn btn-lg btn-primary" href="{{ tourney.info_url }}" role="button">Join Tournament</a>
      </div>
    </p>
  </div>
</div>
