<ul id="social">
  <li>
    <a href="https://discord.me/{{ site.discord_username }}">
      <img src="{{ site.baseurl }}/img/social/discord-logo.png" height="25px;" width="25px;">
    </a>
  </li>
  <li>
    <a href="https://matcherino.com/u/{{ site.matcherino_username }}/20670/bounties">
      <img src="{{ site.baseurl }}/img/social/matcherino-logo.png" height="25px;" width="25px;">
    </a>
  </li>
  <li>
    <a href="https://patreon.com/{{ site.patreon_username }}">
      <img src="{{ site.baseurl }}/img/social/patreon-logo.png" height="25px;" width="25px;">
    </a>
  </li>
  <li>
    <a href="https://twitch.tv/{{ site.twitch_username }}">
      <img src="{{ site.baseurl }}/img/social/twitch-logo.png" height="25px;" width="25px;">
    </a>
  </li>
  <li>
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <img src="{{ site.baseurl }}/img/social/twitter-logo.png" height="25px;" width="25px;">
    </a>
  </li>
</ul>
