

.post {
  padding-top: 20px;
}

.cover {
  padding-top: 300px;
  padding-bottom: 300px;
}

article {
  .cover {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.cover-blurb {
  background-color: rgba(0, 0, 0, 0.70);
  border-radius: 10px;
  padding: 10px;
}

.pane {
  padding: 20px;
}

.thumbnail {
  background-color: $background-color-light;

  .caption, p {
    color: $text-color;
  }
}

.section {
  padding-bottom: 10px;

  p {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.panel {
  background-color: $background-color-light;
}

#social {
  display: inline;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#social li {
  display: inline;
}

// http://getbootstrap.com.vn/examples/equal-height-columns/
// .row-eq-height {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display:         flex;
// }

// http://stackoverflow.com/questions/10099422/flushing-footer-to-bottom-of-the-page-twitter-bootstrap
// .footer {
//   position: relative;
//   margin-top: -150px; /* negative value of footer height */
//   height: 150px;
//   clear:both;
//   padding-top:20px;
// }

// https://css-tricks.com/snippets/css/css-triangle/
.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid $text-color;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid $text-color;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-left: 10px solid $text-color;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid $text-color;
}
